# ===== ROOT / data =====
*.root
*.dat
*.raw
*.bin

# ===== build =====
*.o
*.so
*.pcm
*.d
build/

# ===== output =====
output/
*.log
*.out

# ===== python =====
__pycache__/
*.pyc

# ===== system / editor =====
.vscode/
.idea/
.DS_Store
Thumbs.db